KAFKA_BOOTSTRAP_SERVERS=
KAFKA_SENSOR_TOPIC=
KAFKA_STARTING_OFFSETS=
STREAM_TRIGGER_INTERVAL_SECONDS=
STREAM_BRONZE_OUTPUT_PATH=
STREAM_BRONZE_CHECKPOINT_LOCATION=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
AWS_REGION=
CENSUS_API_KEY=
